{% extends 'geonode-mapstore-client/_geonode_config.html' %}
{% block override_local_config %}
<script>
    window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
        // Here the localConfig can be overridden and/or extended
        filtersForm = localConfig.geoNodeConfiguration.filtersForm
        filtersForm.items[0].items.push({
            id: "externalapplication",
            labelId: "externalapplications.filter",
            type: "filter",
            query: {
                "filter{resource_type.in}": "externalapplication"
            }
        })

        return localConfig;
    };
</script>
{% endblock %}